<html>
    <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>

<body ng-app="loanApp" class="ng-scope">

    <nav>
        <div class="nav-wrapper blue">
            <a ui-sref="list" class="brand-logo" href="#/list">J'ai prêté</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a ui-sref="about" href="#/about">About</a></li>
            </ul>
        </div>
    </nav>
    <div>

        <!-- uiView: --><ui-view class="ng-scope"><div class="row ng-scope">

    <div class="col s3 light-blue lighten-4">
        <!-- Grey navigation panel -->

        <ul>
            <li><a ui-sref="list.loans" href="#/list/loans">Objets prêtés</a></li>
            <li><a ui-sref="list.persons" href="#/list/persons">Personnes</a></li>
        </ul>

    </div>
    <div class="col s9 light-blue lighten-4">
       <md-content class="_md"> <!-- uiView: --><ui-view class="ng-scope"><row class="ng-scope">
    <!-- ngRepeat: person in personsCtrl.persons --><div class="col s4 ng-scope" ng-repeat="person in personsCtrl.persons">
        <div class="card light-blue darken-3 hoverable">
            <div class="card-content white-text">
                <span class="card-title ng-binding">Luke Skywalker</span>
                <div class="row">
                    <div class="col s12">
                        <img class="responsive-img" ng-src="pics/lukeskywalker.jpg" src="pics/lukeskywalker.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end ngRepeat: person in personsCtrl.persons --><div class="col s4 ng-scope" ng-repeat="person in personsCtrl.persons">
        <div class="card light-blue darken-3 hoverable">
            <div class="card-content white-text">
                <span class="card-title ng-binding">Doctor Who</span>
                <div class="row">
                    <div class="col s12">
                        <img class="responsive-img" ng-src="pics/doctorWho.jpg" src="pics/doctorWho.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end ngRepeat: person in personsCtrl.persons --><div class="col s4 ng-scope" ng-repeat="person in personsCtrl.persons">
        <div class="card light-blue darken-3 hoverable">
            <div class="card-content white-text">
                <span class="card-title ng-binding">Actarus</span>
                <div class="row">
                    <div class="col s12">
                        <img class="responsive-img" ng-src="pics/actarus.jpg" src="pics/actarus.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end ngRepeat: person in personsCtrl.persons --><div class="col s4 ng-scope" ng-repeat="person in personsCtrl.persons">
        <div class="card light-blue darken-3 hoverable">
            <div class="card-content white-text">
                <span class="card-title ng-binding">Capitaine Kirk</span>
                <div class="row">
                    <div class="col s12">
                        <img class="responsive-img" ng-src="pics/kirk.jpeg" src="pics/kirk.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end ngRepeat: person in personsCtrl.persons -->
</row></ui-view> </md-content>
    </div>
</div></ui-view>

    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="scripts/loans/loans.module.js"></script>
    <script src="scripts/about/about.module.js"></script>
    <script src="scripts/persons/persons.module.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/common/common.module.js"></script>
    <script src="scripts/about/about.controller.js"></script>
    <script src="scripts/common/common.directive.js"></script>
    <script src="scripts/common/common.filter.js"></script>
    <script src="scripts/common/common.card.component.js"></script>
    <script src="scripts/loans/loans.service.js"></script>
    <script src="scripts/loans/loans.resource.js"></script>
    <script src="scripts/loans/loans.controller.js"></script>
    <script src="scripts/persons/persons.controller.js"></script>
    <script src="scripts/persons/persons.service.js"></script>
<script src="//localhost:35729/livereload.js?snipver=1" async="" defer=""></script>

<div class="hiddendiv common"></div></body></html>